%section{ :id => "login" }
  %header Only authorized users past this point!

  = form_tag sessions_path do
    %div{ :class => "field" }
      = label_tag :name
      = text_field_tag :name, params[:name]
    %div{ :class => "field" }
      = label_tag :password
      = password_field_tag :password
    %div{ :class => "actions" }
      = submit_tag "Log in"
