!!! 5
%html
  %head
    %title Dianewillis
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div#content
      - flash.each do |name, msg|
        %div{:id => "flash#{name}"}
          %p{:style => "float:right;"}= link_to_function '&times;', "$('#flash#{name}').fadeOut('slow')"
          %p= msg
      = yield
