!!! 5
%html
  %head
    %title
      = strip_tags yield(:title)
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if current_user
      = render :partial => 'layouts/admin'
    %section#content
      = yield
    %section#footer
      Copyright &copy;
      = Date.today.year
      Diane Willis. All Rights Reserved.
    - unless current_user
      = render :partial => 'layouts/analytics'
