!!!
%html
  %head
    %meta{:content => "width=device-width, maximum-scale=1.0, initial-scale=1.0", :name => "viewport"}
      = csrf_meta_tags
      %title Mercury Editor
      = stylesheet_link_tag    'mercury', 'mercury_overrides'
      = javascript_include_tag 'mercury'
  %body
    - if Rails.application.config.respond_to?(:mercury_config)
      = javascript_tag("jQuery.extend(Mercury.config, #{Rails.application.config.mercury_config});")
    :javascript
      var saveUrl = null;
      var options = {
        saveStyle: 'form',  // 'form', or 'json' (default json)
        saveMethod: null, // 'POST', or 'PUT', (create, vs. update -- default POST)
        visible: null     // if the interface should start visible or not (default true)
      };
      new Mercury.PageEditor(saveUrl, options);
